<nav class="top-bar expanded" data-topbar role="navigation">
  <ul class="large-3 medium-4 columns">
    <li class="name">
      <h1><a href="/" style="color:white;">UDDYS BBS for Travel Lovers</a></h1>
    </li>
  </ul>
  <div class="top-bar-section">
    <ul class="right">
      <li><?= $this->Html->link('ログイン',['controller'=>'users/login'])?></li>
    </ul>
  </div>
</nav>
  <div class="col-md-12 col-sm-12">
    <div class="example">
      <h1>掲示板</h1>
      <p>〜旅先での思い出の写真について語り合おう〜</p>
      <h3><?= $this->Html->link('ログイン', ['controller'=>'users', 'action'=>'login']);?> 
    　    <?= $this->Html->link('サインアップ',['controller'=>'users', 'action'=>'add']);?></h3>
      <img src="/user_picture/img04.jpg" alt="" width='70%'> 
    </div>
  </div>

<style>

.example {
position: relative;
background-image:url("/user_picture/img04.jpg");
}
.example>h3{
position: absolute;/*絶対配置*/
top: 20%;
width: 100%;
margin:0 auto;
text-align:center;
font-weight:bold;
font-size:36px;
}
 .example>h3>a{
 color:black; 
 }

 .example>h3>a:hover{
 color:skyblue; 
 }
.example>h1{
position: absolute;
color: white;
top: -2%;
left: 43%;
text-shadow: 1px 2px 3px #808080;
}
.example>p{
position: absolute;
color: white;
top: 10%;
left: 28%;
font-size:25px;
text-shadow: 1px 2px 3px #808080;
}

</style>

